@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
	background-color: #edeeff;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root {
	--primary: #1a1a1d;
	--secondary: #950740;
	--trio: #757687;
	--title: #950740;
	--subtitle: #6f2232;
	--avatar: #757687;
	--cell-size: 165px;
	--mark-size: calc(var(--cell-size) * 0.9);
	--primaryfont: 'Press Start 2P', cursive;
	--secondaryfont: 'Fredoka One', cursive;
	/* #6f2232 #950740 #c3073f */
}

.gamescreen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	max-height: 100vh;
	font-family: var(--primaryfont);
}

.middle-gamescreen {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.maingamescreen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--primary);
	padding: 16px 16px 16px 32px;
	border-radius: 15px;
	box-shadow: 0 15px 30px 1px #171718;
}

.top-gamescreen {
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--avatar);
}

.board > div {
	width: var(--cell-size);
	height: var(--cell-size);
	cursor: pointer;
	background: var(--primary);
	justify-content: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	display: flex;
}

.cell.x,
.cell.circle {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
	background-color: white;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
	background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * 0.15);
	height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
	transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
	transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background-color: var(--primary);
}

.statsclm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 16px 16px 32px;
}

.roundcounter,
.option {
	font-size: 1.8rem;
	text-align: center;
	color: var(--title);
	text-shadow: 2px 2px var(--avatar);
}

.scoretab {
	position: relative;
	width: 200px;
	padding: 0 16px 0 16px;
	font-size: 1.25rem;
}

.playeronescore {
	position: absolute;
	top: 16px;
	right: 0;
	width: 100px;
	text-align: right;
	color: var(--title);
}
.playertwoscore {
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 100px;
	text-align: right;
	color: var(--title);
}

.playerone,
.playertwo {
	padding-top: 16px;
	color: var(--trio);
	font-size: 1rem;
}

.currentplayers {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	color: var(--avatar);
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.smallvs {
	font-size: 1.5rem;
	color: var(--secondary);
	text-shadow: 2px 2px var(--avatar);
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	margin-top: 32px;
}

.restart {
	color: var(--secondary);
	text-shadow: 2px 2px var(--avatar);
	justify-content: center;
	align-items: center;
	padding: 16px;
	transition: 0.7s;
}

.restart:hover {
	cursor: pointer;
	transform: rotate(360deg);
}

.option {
	padding: 8px;
}

.top-screen {
	display: flex;
	justify-content: center;
}

.top-screen h1 {
	display: flex;
	font-size: 6.2vw;
	text-align: center;
	font-weight: 400;
	padding: 16px;
	color: var(--title);
	text-shadow: 2px 2px var(--primary);
}

.popup {
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.678);
}

.popup-content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-cc {
	background-color: var(--primary);
	display: flex;
	padding: 16px;
	border-radius: 15px;
}

.popup-middle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 16px;
}

.startbtn {
	color: var(--secondary);
	text-shadow: 2px 2px var(--avatar);
	font-size: 3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	padding: 16px;
	font-family: var(--primaryfont);
}

.popup-middle i {
	color: var(--subtitle);
	text-shadow: 2px 2px var(--avatar);
}
.name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	color: var(--secondary);
	text-shadow: 2px 2px var(--avatar);
	font-family: var(--primaryfont);
}

.playeroneopt,
.playertwoopt {
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.playeroneopt i,
.playertwoopt i {
	color: var(--trio);
	padding: 16px;
	cursor: pointer;
	transition: 0.4s;
}

.playeroneopt i:hover,
.playertwoopt i:hover {
	color: var(--subtitle);
}

.choice {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
	font-family: var(--secondaryfont);
}

.xchoice,
.ochoice {
	font-size: 4.5vw;
	color: var(--avatar);
	transition: 0.4s;
	cursor: pointer;
}

.xchoice:hover,
.ochoice:hover {
	color: var(--subtitle);
}

.selected {
	color: var(--subtitle);
}
